body {
    background: #1f2833;
    color: #c5c6c7;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #66fcf1;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #0b0c10;
  }
  
  .navbar-nav .nav-link {
    color: #C65;
  }
  
  .navbar-nav .nav-link:hover {
    color: #0FA4AF;
    font-weight: 500;
  }
  
  .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #0b0c10;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #66fcf1;
  }
  
  a.article-title:hover {
    color: #afdde5;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
    color: #c5c6c7;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-block: 15px;
    margin-bottom: -10px;
    border-top: 1px solid #c5c6c7;
  }

  .body-part {
    color: #ffff;
    display: inline; 
    padding-inline: 5px;
    background-color: #1f2833;
    border-radius: 20px;
    padding: 5px;
    padding-inline: 10px;
  }
  
  .article-metadata a:hover {
    color: #afdde5;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .text-line-limited {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
            line-clamp: 3; 
    -webkit-box-orient: vertical;
  }
  .calculator {
    background-color: #0b0c10;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .BMI-h2 {
      text-align: center;
      font-weight: bolder;
  }
  .input-group {
      margin-bottom: 15px;
      color: #c5c6c7;
  }
  .input-group label {
      display: block;
      margin-bottom: 5px;
      color: #c5c6c7;
  }
  .input-group input {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      background-color: #1f2833;
      border: 1px solid #66fcf1;
      color: #66fcf1;
  }
  .btn-calculate {
    display: block;
    width: calc(100%);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #66fcf1;
    color: #0b0c10;
    font-weight: 500;
    cursor: pointer;
    font-size: 16px;
    margin-top: 8px; 
}
  .btn-calculate:hover {
    background-color: #1f2833;
    color: #c5c6c7;
}

.results {
  width: 100%;
  margin: 20px auto;
  background-color: #0b0c10;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.result-item {
  margin-bottom: 10px;
  font-size: 22px;
  color: #66fcf1;
}

#container {
  display: flex;
  justify-content: space-between;
  color: transparent;
  padding: 0px;
  margin: 0 auto; /* Wycentrowanie kontenera */
  width: 100%; /* Kontener wypełnia całą dostępną szerokość */
  margin-bottom: 20px;
}

#eksportuj-div, #importuj-div {
  flex: 1; /* Elastyczność dla zawartości */
}

#eksportuj-div, #importuj-div {
  display: flex;
    flex-direction: column; /* Ustawiamy flexbox w kolumnie, aby zawartość była wyśrodkowana w pionie */
    align-items: center; /* Wyśrodkowanie zawartości w pionie */
    text-align: center; /* Wyśrodkowanie tekstu w poziomie */
    justify-content: center;
}
#eksportuj-div {
  margin-right: 30px;
}

#eksportuj-div, #importuj-div {
  background-color: #0b0c10;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center; /* Wycentrowanie tekstu wewnątrz divów */
  align-content: end;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #66fcf1;
  color: #0b0c10;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button[id="delete"] {
  background-color: #ff6666;
  color: #ffffff;
}

button[id="add"] {
  background-color: #66fcf1;
  color: #0b0c10;
}

button[type="submit"]:hover {
  background-color: #1f2833;
  color: #c5c6c7;
}

.file-upload-label {
  display: inline-block;
  background-color: #66fcf1;
  color: #0b0c10;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.file-upload-label:hover {
  background-color: #1f2833;
  color: #c5c6c7;
}

.file-upload-input {
  display: none;
}

.submit-button {
  display: inline-block;
  background-color: #66fcf1;
  color: #0b0c10;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #1f2833;
  color: #c5c6c7;
}

#file-name {
  margin-left: 10px;
  color: #c5c6c7;
}

.alert-success {
  border-color: #66fcf1;
  background-color: #46a29d80;
  color: #ffffff;
}

.heading {
  color: #afdde5;
  font-weight: 600;
}

#workout-content{
  margin: 20px;
}

/* Dodane style dla select pickerów */
.select-option {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background-color: #1f2833;
  border: 1px solid #66fcf1;
  color: #66fcf1;
  appearance: none; /* Resetuj domyślny wygląd przeglądarki */
  -webkit-appearance: none; /* Resetuj domyślny wygląd przeglądarki dla Safari */
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>'); /* Dodaj ikonę strzałki */
  background-position: right 8px center; /* Ustaw pozycję ikony strzałki */
  background-repeat: no-repeat; /* Nie powtarzaj ikony strzałki */
  background-size: 16px; /* Ustaw rozmiar ikony strzałki */
  padding-right: 30px; /* Dodaj odstęp dla ikony strzałki */
  cursor: pointer; /* Zmień kursor na wskaźnik */
}

/* Dodaj efekt hover dla select pickerów */
.select-option:hover {
  border-color: #0FA4AF; /* Zmień kolor obramowania po najechaniu myszą */
}
