{% extends "main/base.html" %}
{% block content %}
<div class="container mt-4">
    <h2>O nas</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec eros nisl. Vestibulum bibendum risus id justo condimentum, ac aliquam enim dictum. Quisque dapibus nulla sit amet sapien auctor congue.</p>
    <p>Phasellus nec risus nec leo sodales ullamcorper. Vivamus interdum elit at odio vehicula, sit amet fermentum lorem ullamcorper. Donec tincidunt lorem ut mauris lacinia vehicula.</p>
</div>
<div class="container mt-4">
    <h2>Kontakt</h2>
    <p>Natanael Jop 54396</p>
    <p>Krzysztof Stępień</p>
</div>
{% endblock content %}
