{% extends "main/base.html" %}
{% block content %}
    {% for workout in workouts %}
        <article class="media content-section">
            <div class="media-body">
                <h2><a class="article-title" href="{% url 'workout-detail' workout.id %}">{{ workout.title }}</a></h2>
                <p class="text-line-limited">{{ workout.description }}</p>
                <div class="article-metadata">
                    {% for i in workout.body_parts.all %}
                        <div class="body-part">{{ i }}</div>
                    {% endfor %}
                </div> 
            </div>
        </article>
    {% endfor %}
{% endblock content %}
